BASE_URL="BACKEND_URL"
COOKIE_DOMAIN="COOKIE_URL" //etc:.vercel.app
FRONTEND_URL="FRONTEND_URL"
GEMINI_API_KEY="KEY_AI"
GOOGLE_CLIENT_ID="CLIENT_ID"
GOOGLE_CLIENT_SECRET="CLIENT_SECRET"
JWT_SECRET="PASSWROD"
MONGO_URL="DB_URL"
NODE_ENV="production" //production,development
PORT="3001"
TELEGRAM_BOT_TOKEN="TOKEN"